body {
    background-color: #ecf0f1;
}

.alert {
    margin: 0;
}

#login form {
    background-color: rgba(255,255,255, 0.75);
    border: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.25);
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -55%);
    width: 80vw;
    min-width: 200px;
    max-width: 480px;
}

#login .form-control {
    font-size: 20px;
    padding: 20px;
}
#login .form-control:visited {
    background-color: transparent;
}
#login .form-group {
    margin: 20px 0 0 0;
}

#login .input-group-addon {
    /*width: 40px;*/
    text-align: center;
    border-left: 2px solid #f0f0f0;
    background: #2c3e50;
}
#login .input-group-addon .glyphicon {
    color: white;
}

#login .panel-body {
    padding: 3%;
}
#login .panel-heading {
    font-size: 150%;
}
#login .panel-heading footer {
    text-transform: uppercase;
}
